{% extends 'Accounting/base.html' %}


{% block title %}Дашборд{% endblock %}


{% block content %}<h1>Дашборд</h1>

<div class="card shadow p-3 rounded mt-3 border-top-0 border-end-0 border-bottom-0 border-5 border-warning">
<h4 class="mb-3">Неоплаченные счета по всем организациям</h4>
<div class="card-body px-0 py-0">
<div class="table-responsive scrollbar">
    <table class="table table-sm fs-10 mb-0 overflow-hidden">
        <thead >
            <tr>
                <th class="bg-secondary-subtle">Счет</th>
                <th class="bg-secondary-subtle">Дата начала</th>
                <th class="bg-secondary-subtle">Период</th>
                <th class="bg-secondary-subtle">Организация</th>
                <th class="bg-secondary-subtle">Договор</th>
                <th class="bg-secondary-subtle">Услуга</th>
                <th class="bg-secondary-subtle text-center">Сумма счета</th>
                <th class="bg-secondary-subtle text-center">Задолженность</th>
                <th class="bg-secondary-subtle text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
{% for el in service_list %}
{% if el.full_payment is False %}
<tr>
    <td>№ {{ el.id }}</td>
    <td>{{ el.date_start }}</td>
    <td>{{ el.period }} дней</td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/organization/{{ el.dogovor.organization.id }}">{{ el.dogovor.organization }}</a> </td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/dogovor/{{ el.dogovor.id }}">{{ el.dogovor.nomer_dogovora }}</a> </td>
    <td>{{ el.dogovor.service_type }}</td>
    <td class="text-center">{{ el.price }}</td>
    <td class="text-center">{{ el.debt }}</td>
    <td class="text-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'service-detail' el.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
              </svg>
          </a>
          <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'service-generate-bill' el.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
              <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
            </svg>
          </a>
          <a role="button" class="btn btn-outline-danger btn-sm" href="{% url 'service-generate-act' el.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                  <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
              </svg>
          </a>
        </div>
    </td>

</tr>
{% endif %}
{% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>


<!--Вторая таблица-->
<div class="card shadow p-3 rounded mt-3 border-top-0 border-end-0 border-bottom-0 border-5 border-warning">
<h4 class="mb-3">Неподписанные Акты по всем организациям</h4>
<div class="card-body px-0 py-0">
<div class="table-responsive scrollbar">
    <table class="table table-sm fs-10 mb-0 overflow-hidden">
        <thead >
            <tr>
                <th class="bg-secondary-subtle">Акт</th>
                <th class="bg-secondary-subtle">Дата начала</th>
                <th class="bg-secondary-subtle">Период</th>
                <th class="bg-secondary-subtle">Организация</th>
                <th class="bg-secondary-subtle">Договор</th>
                <th class="bg-secondary-subtle">Услуга</th>
                <th class="bg-secondary-subtle text-center">Сумма счета</th>
                <th class="bg-secondary-subtle text-center">Задолженность</th>
                <th class="bg-secondary-subtle text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
{% for el in service_list %}
{% if el.act_approved is False %}
<tr>
    <td>№ {{ el.id }}</td>
    <td>{{ el.date_start }}</td>
    <td>{{ el.period }} дней</td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/organization/{{ el.dogovor.organization.id }}">{{ el.dogovor.organization }}</a> </td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/dogovor/{{ el.dogovor.id }}">{{ el.dogovor.nomer_dogovora }}</a> </td>
    <td>{{ el.dogovor.service_type }}</td>
    <td class="text-center">{{ el.price }}</td>
    <td class="text-center">{{ el.debt }}</td>
    <td class="text-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'service-detail' el.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
              </svg>
          </a>
          <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'service-generate-bill' el.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
              <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
            </svg>
          </a>
          <a role="button" class="btn btn-outline-danger btn-sm" href="{% url 'service-generate-act' el.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                  <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
              </svg>
          </a>
        </div>
    </td>

</tr>
{% endif %}
{% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
