{% extends 'Accounting/base.html' %}


{% block title %}Дашборд{% endblock %}


{% block content %}<h1>Дашборд</h1>

<div class="card shadow p-3 rounded mt-3 border-top-0 border-end-0 border-bottom-0 border-5 border-warning">
<h4 class="mb-3">Неоплаченные счета по всем организациям</h4>
<div class="card-body px-0 py-0">
<div class="table-responsive scrollbar">
    <table class="table table-sm fs-10 mb-0 overflow-hidden">
        <thead >
            <tr>
                <th class="bg-secondary-subtle text-center">Счет</th>
                <th class="bg-secondary-subtle">Дата начала</th>
                <th class="bg-secondary-subtle">Период</th>
                <th class="bg-secondary-subtle">Организация</th>
                <th class="bg-secondary-subtle">Договор</th>
                <th class="bg-secondary-subtle">Услуга</th>
                <th class="bg-secondary-subtle text-center">Сумма счета</th>
                <th class="bg-secondary-subtle text-center">Задолженность</th>
                <th class="bg-secondary-subtle text-center">Скачать</th>
            </tr>
        </thead>
        <tbody>
{% for el in service_list %}
{% if el.full_payment is False %}
<tr>
    <td class="text-center"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'service-detail' el.pk %}">№ {{ el.id }}</a></td>
    <td>{{ el.date_start }}</td>
    <td>{{ el.period }} дней</td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/organization/{{ el.dogovor.organization.id }}">{{ el.dogovor.organization }}</a> </td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/dogovor/{{ el.dogovor.id }}">{{ el.dogovor.nomer_dogovora }}</a> </td>
    <td>{{ el.dogovor.service_type }}</td>
    <td class="text-center">{{ el.price }}</td>
    <td class="text-center">{{ el.debt }}</td>
    <td class="text-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a style="min-width: 47px;" role="button" class="btn btn-outline-success btn-sm" href="{% url 'service-generate-bill' el.pk %}">
                Счет
          </a>
          <a style="min-width: 47px;" role="button" class="btn btn-outline-success btn-sm border-start-0" href="{% url 'service-generate-act' el.pk %}">
                Акт
          </a>
        </div>
    </td>

</tr>
{% endif %}
{% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>


<!--Вторая таблица-->
<div class="card shadow p-3 rounded mt-3 border-top-0 border-end-0 border-bottom-0 border-5 border-warning">
<h4 class="mb-3">Неподписанные Акты по всем организациям</h4>
<div class="card-body px-0 py-0">
<div class="table-responsive scrollbar">
    <table class="table table-sm fs-10 mb-0 overflow-hidden">
        <thead >
            <tr>
                <th class="bg-secondary-subtle text-center">Акт</th>
                <th class="bg-secondary-subtle">Дата начала</th>
                <th class="bg-secondary-subtle">Период</th>
                <th class="bg-secondary-subtle">Организация</th>
                <th class="bg-secondary-subtle">Договор</th>
                <th class="bg-secondary-subtle">Услуга</th>
                <th class="bg-secondary-subtle text-center">Сумма счета</th>
                <th class="bg-secondary-subtle text-center">Задолженность</th>
                <th class="bg-secondary-subtle text-center">Скачать</th>
            </tr>
        </thead>
        <tbody>
{% for el in service_list %}
{% if el.act_approved is False %}
<tr>
    <td class="text-center"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'service-detail' el.pk %}">№ {{ el.id }}</a></td>
    <td>{{ el.date_start }}</td>
    <td>{{ el.period }} дней</td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/organization/{{ el.dogovor.organization.id }}">{{ el.dogovor.organization }}</a> </td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/dogovor/{{ el.dogovor.id }}">{{ el.dogovor.nomer_dogovora }}</a> </td>
    <td>{{ el.dogovor.service_type }}</td>
    <td class="text-center">{{ el.price }}</td>
    <td class="text-center">{{ el.debt }}</td>
    <td class="text-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a style="min-width: 47px;" role="button" class="btn btn-outline-success btn-sm" href="{% url 'service-generate-bill' el.pk %}">
            Счет
          </a>
          <a style="min-width: 47px;" role="button" class="btn btn-outline-success btn-sm border-start-0" href="{% url 'service-generate-act' el.pk %}">
            Акт
          </a>
        </div>
    </td>

</tr>
{% endif %}
{% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
