{% extends 'Accounting/base.html' %}


{% block title %}Станица о нас{% endblock %}


{% block content %}


<h1 class="mb-4">{{ dogovor_list.nomer_dogovora }} с компанией {{ dogovor_list.organization.short_name }}</h1>



<div class="card shadow p-3 rounded border-top-0 border-end-0 border-bottom-0 border-5 border-primary border-opacity-75">
    <h4 class="ms-2">Информация о договоре</h4>
        <table class="table table-hover ">
  <tbody>
    <tr>
      <td width="20%" >Номер договора:</td>
      <td>{{ dogovor_list.nomer_dogovora }}</td>

    </tr>
    <tr>
      <td>Дата подписания:</td>
      <td>{{ dogovor_list.date_of_signing }}</td>
    </tr>
    <tr>
      <td>Сайт:</td>
      <td>{{ dogovor_list.web_site }}</td>
    </tr>
    <tr>
      <td>Услуга:</td>
      <td>{{ dogovor_list.service_type }}</td>
    </tr>
    <tr>
    <tr>
      <td>Стоимость:</td>
      <td>{{ dogovor_list.basic_price }} рублей</td>
    </tr>
    <tr>
      <td>Организация:</td>
      <td> <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/organization/{{ dogovor_list.organization.id }}">{{ dogovor_list.organization.short_name }}</a></td>
    </tr>
    <tr>
      <td>Статус договора:</td>
      <td>{% if dogovor_list.contract_completed is True %} 🟢 Действующий договор {% else %} 🔴 Недействующий договр {% endif %}</td>
    </tr>
  </tbody>
</table>

<div class="d-grid gap-2 d-md-block">
  <a class="btn btn-outline-primary mb-2" role="button" href="{% url 'dogovor-edit' dogovor_list.pk %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 20 20">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
    </svg>
    Редактировать информацию о договоре
  </a>
  <a title="Скачать договор в формате .docx" class="btn btn-outline-success mb-2" role="button" href="/dogovor/{{ dogovor_list.id }}/generate">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download me-1" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
    </svg>
    Договор
  </a>
  <a class="btn btn-outline-warning mb-2" role="button" href="{% url 'service-create-target' dogovor_list.pk %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-word" viewBox="0 0 20 20">
     <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
    </svg>
    Добавить услугу
  </a>
</div>
</div>





<!--Таблица счетов-->
{% if service_list %}
<h4 class="mt-3">Услуги по организации</h4>
<div class="card shadow p-3 rounded mt-3 border-top-0 border-end-0 border-bottom-0 border-5 border-warning">

<div class="card-body px-0 py-0">
<div class="table-responsive scrollbar">
    <table class="table table-sm fs-10 mb-0 overflow-hidden">
        <thead >
            <tr>
                <th class="bg-secondary-subtle text-center">Счет</th>
                <th class="bg-secondary-subtle">Дата начала</th>
                <th class="bg-secondary-subtle">Период</th>
                <th class="bg-secondary-subtle">Договор</th>
                <th class="bg-secondary-subtle">Услуга</th>
                <th class="bg-secondary-subtle text-center">Сумма счета</th>
                <th class="bg-secondary-subtle text-center">Задолженность</th>
                <th class="bg-secondary-subtle text-center">Скачать</th>
            </tr>
        </thead>
        <tbody>
{% for el in service_list %}
<tr>
    <td class="text-center"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'service-detail' el.pk %}">№ {{ el.id }}</a></td>
    <td>{{ el.date_start }}</td>
    <td>{{ el.period }} дней</td>
    <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/dogovor/{{ el.dogovor.id }}">{{ el.dogovor.nomer_dogovora }}</a> </td>
    <td>{{ el.dogovor.service_type }}</td>
    <td class="text-center">{{ el.price }}</td>
    <td class="text-center">{{ el.debt }}</td>
    <td class="text-center">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a style="min-width: 47px;" title="Скачать Счет" role="button" class="btn btn-outline-success btn-sm" href="{% url 'service-generate-bill' el.pk %}">
              Счет
          </a>
          <a style="min-width: 47px;" title="Скачать Акт" role="button" class="btn btn-outline-success btn-sm" href="{% url 'service-generate-act' el.pk %}">
          Акт
          </a>
        </div>
    </td>
</tr>
{% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endif %}
<!--Конец таблицы счетов-->

{% endblock %}
