{% extends 'Accounting/base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
<h1>Юридические лица</h1>
</br>
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for el in organization_list %}
      <div class="col">
 <div class="card shadow p-3 rounded border-top-0 border-end-0 border-bottom-0 border-5 border-secondary">
<div class="card-body">
    <h5 class="card-title">{{ el.short_name }}</h5>
    <p class="card-subtitle mb-2 text-body-secondary">ИНН: {{ el.inn }}</p>
    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/organization/{{ el.id }}"> Перейти в карточку организации </a>
</div>
     </div>
          </div>
{% endfor %}
    <a class="ms-4 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/organizations/">Смотреть все организации</a>

     </div>
</br></br>
<h1>Договоры</h1>
</br>
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for el in dogovor_list %}
<div class="col">
                <div class="card shadow rounded border-top-0 border-end-0 border-bottom-0 border-5 border-primary border-opacity-75">
                    <div class="pt-3 ps-3 pe-3 row">
                        <p class="col-8"><span class="fs-5 fw-semibold">{{ el.nomer_dogovora }}</span> от {{ el.date_of_signing }}</p>
                        <p class="col-4 text-end">
                            {% if el.contract_completed is True %}
                            🟢
                            {% else %}
                            🔴
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-body" style="display: flex; justify-content: space-between;">
                        <p>Организация: {{ el.organization }}</p>
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/dogovor/{{ el.id }}"> Перейти в карточку договора </a>
                    </div>
                </div>
            </div>
{% endfor %}
     <a class="ms-4 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/dashboard/">Подробнее об оплатах по договорам</a>

</div>
{% endblock %}
