{% extends 'Accounting/base.html' %}


{% block title %}Информация об услуге{% endblock %}


{% block content %}<h1 class="mb-4">Услуга</h1>

<div class="card shadow p-3 rounded border-top-0 border-end-0 border-bottom-0 border-5 border-warning">
    <h4 class="ms-2">Информация об услуге</h4>
        <table class="table table-hover ">
<tbody>
    <tr>
      <td width="20%" >Услуга:</td>
      <td>{{ service_list.service_name }}</td>
    </tr>
    <tr>
      <td width="20%" >Период:</td>
      <td>{{ service_list.period }} календарных дней. С {{ service_list.date_start }} по {{ service_list.date_end }}.</td>
    </tr>
    <tr>
      <td width="20%" >Задолженность:</td>
      <td>{{ service_list.debt }} рублей</td>
    </tr>
    <tr>
    <tr>
      <td width="20%" >Сумма по счету:</td>
      <td>{{ service_list.price }} рублей </td>
    </tr>
    <tr>
      <td width="20%" >Частичная оплата счета:</td>
      <td>{{ service_list.payment_made }} рублей</td>
    </tr>
    <tr>
      <td width="20%" >Договор:</td>
      <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/dogovor/{{ service_list.dogovor.id }}">{{ service_list.dogovor.nomer_dogovora }}</a>
    </td>
    </tr>
    <tr>
      <td width="20%" >Организация:</td>
      <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/organization/{{ service_list.dogovor.organization.id }}">{{ service_list.dogovor.organization }}</a></td>
    </tr>
    <tr>
      <td width="20%" >Счет полностью оплачен:</td>
      <td>{% if service_list.full_payment is True %}✅ да{% else %}❌ нет{% endif %}</td>
    </tr>
    <tr>
      <td width="20%" >Акт подписан:</td>
      <td>{% if service_list.act_approved is True %}✅ да{% else %}❌ нет{% endif %}</td>
    </tr>
</tbody>
</table>

<div class="d-grid gap-2 d-md-block">
  <a class="btn btn-outline-warning btn-sm mb-2" role="button" href="{% url 'service-edit' service_list.pk %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 20 20">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
      </svg>
      Редактировать информацию об услуге
  </a>
  <a class="btn btn-outline-success btn-sm mb-2" role="button" href="{% url 'service-generate-bill' service_list.pk %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download me-1" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
    </svg>
      Счет
  </a>
  <a class="btn btn-outline-success btn-sm mb-2" role="button" href="{% url 'service-generate-act' service_list.pk %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download me-1" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
    </svg>
      Акт
  </a>
</div>

</div>

{% endblock %}
